/* font faces */
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* initial reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge에서 스크롤바 제거 */
}

/* variable*/
:root {
  font-size: 16px;
  /* Font sizes */
  --font-size-placeholder: 0.75rem;
  --font-size-footer: 0.75rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-sm: 0.625rem;

  --white-color: #ffffff;
  --black-color: #212121;

  --primary-color: #2a2d3d;
  --secondary-color: #d25b6d;

  --hover-color: #3f4257;
  --yellow-color: #f7cd7a;
  --purple-color: #bf94e4;
  --green-color: #afc685;
  --orange-color: #e99173;
  --blue-color: #8aa9f9;
}

/* 태블릿 */
@media (min-width: 768px) {
  :root {
    font-size: 18px; /* 1rem = 18px */
  }
}

/* 데스크톱 */
@media (min-width: 1024px) {
  :root {
    font-size: 20px; /* 1rem = 20px */
  }
}

/*typography*/
body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.05em;
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

/* Typography */
.body1 {
  font-size: 1rem;
  font-weight: 400;
}
.body2 {
  font-size: 0.875rem;
  font-weight: 400;
}

.button-big {
  font-size: 1rem;
  font-weight: 700;
}
.button-medium {
  font-size: 0.875rem;
  font-weight: 700;
}
.button-small {
  font-size: 0.75rem;
  font-weight: 400;
}

.footer {
  font-size: 0.75rem;
  font-weight: 400;
}
.placeholder {
  font-size: 0.625rem;
  font-weight: 400;
}

/* Link style*/
a {
  color: inherit;
  text-decoration: none;
}

/* Common Form style*/
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
  color: var(--black-color);
  border: 1px solid var(--gray-700);
  padding: 0;
  text-align: center;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

/*image, video reset*/
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* table css */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border: 1px solid var(--gray-700);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}
@media (min-width: 1024px) {
  .container {
    width: 23.4375rem;
  }
}

.admin-container {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  overflow: hidden;
  background-color: var(--white-color);
}
